<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="TaxiDBEntities" connectionString="metadata=res://*/Components.TaxiDriwerModels.csdl|res://*/Components.TaxiDriwerModels.ssdl|res://*/Components.TaxiDriwerModels.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.3.6.141\sqlexpress;initial catalog=TaxiDB;persist security info=True;user id=prog4;password=passprog4;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TaxiDBEntities1" connectionString="metadata=res://*/Components.DriwerModel.csdl|res://*/Components.DriwerModel.ssdl|res://*/Components.DriwerModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-JCNC9IP;initial catalog=TaxiDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>