<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="TaxiDBEntities" connectionString="metadata=res://*/Components.TaxiModel.csdl|res://*/Components.TaxiModel.ssdl|res://*/Components.TaxiModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-JCNC9IP;initial catalog=TaxiDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TaxiBDEntities" connectionString="metadata=res://*/Components.TaxiModel.csdl|res://*/Components.TaxiModel.ssdl|res://*/Components.TaxiModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql-ser-larisa;initial catalog=TaxiBD;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TaxiDBEntities1" connectionString="metadata=res://*/Components.TaxiModels.csdl|res://*/Components.TaxiModels.ssdl|res://*/Components.TaxiModels.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.3.6.141\sqlexpress;initial catalog=TaxiDB;persist security info=True;user id=prog4;password=passprog4;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TaxiDBEntities2" connectionString="metadata=res://*/Components.TexiDb.csdl|res://*/Components.TexiDb.ssdl|res://*/Components.TexiDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.3.6.141\sqlexpress;initial catalog=TaxiDB;persist security info=True;user id=prog4;password=passprog4;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>